.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(15, 30px);
  grid-template-columns: repeat(20, 30px);
  gap: 2px;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.grid-cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  background-color: #000;
  transition: background-color 0.8s ease, transform 0.3s ease;
}

.game-button {
  width: 100%;
  padding: 10px;
  background: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s ease;
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-rows: repeat(15, 15px);
    grid-template-columns: repeat(20, 15px);
    gap: 2px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .grid-cell {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    background-color: #000;
    transition: background-color 0.8s ease, transform 0.3s ease;
  }
}

@media screen and (max-width: 425px) {
  .grid-container {
    display: grid;
    grid-template-rows: repeat(15, 10px);
    grid-template-columns: repeat(20, 10px);
    gap: 2px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .grid-cell {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    background-color: #000;
    transition: background-color 0.8s ease, transform 0.3s ease;
  }
}
